<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

  <title>Spread libs</title>

  <!-- Local Assets -->

  <link rel="stylesheet" href="/style.css" />

  <!-- Google Sign-in library -->
  <meta name="google-signin-scope" content="https://www.googleapis.com/auth/spreadsheets">
<!--   <script src="https://apis.google.com/js/platform.js" async defer></script> -->
</head>
<body >
  <div>
    <header>
      <div >
        <h3>Spreadsheets dashboard</h3>
      </div>
    </header>
    <main>
      {{{body}}}
    </main>
  </div>
</body>
</html>
