<div class="mdl-grid">
  <section class="mdl-cell mdl-cell--8-col relative">
  	<a href="/insertValues">Insert values</a>
    {{#each listValues}}
      <div><span style="width: 130px;  display: inline-block;">{{data}}</span>  <span style="width: 130px; display: inline-block;">{{valore}}</span> <span>{{causale}}</span></div>
    {{/each}}
  </section>
</div>
